Data/MovieSummaries/character.metadata.tsv
Data/MovieSummaries/movie.metadata.tsv
Data/MovieSummaries/name.clusters.txt
Data/MovieSummaries/plot_summaries.txt
Data/MovieSummaries/README.txt
Data/MovieSummaries/tvtropes.clusters.txt
